.list-content {
  /* background-color: brown;  */
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    border: .5px dashed #dddddd; 
    text-align: left;
    padding: 8px;
    background-color:#000;
    color:#a9a39f
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }


.accordion-title{
  color: #0089c7;
  font-weight: 400;
  font-size: 2.6rem;
}

.array-items > .css-1r5wa48-MuiList-root {
  max-width: 100% !important;
  flex-wrap: wrap;
}

.item-details{
  background-color: #262626;
  border-radius: 4px;
}

.fields{
  font-weight: 800;
}

.error{
  color:crimson;
  background-color:pink
}