html {
 max-width: 1600px;
  gap: 3rem;
  color: #fff;
  overflow-x: hidden;
  background-color: #000;
  background-size: 120% 2000px,100% 2000px;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding:25px 200px;
  background-repeat: no-repeat;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
  color: #ff7a18;
  background-color: #262626;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

hr {
  width: 100%;
  border: 1.5px dashed #ff7a18;
  margin-top: 10px;
}